/* common */

body {
  margin: 0;
}

/* header */

header {
  background: #000;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.menus {
  display: flex;
  border: #000 solid 1px;
}

.menu {
  flex: auto;
  border-right: #000 solid 1px;
}

a {
  text-decoration-line: none;
}

/* main */

.cobolscreenshot {
  width: 90%;
  height: 90%;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  margin: 50px;
  padding: 10px;
  border: #000 solid 1px;
}

.container2 {
  margin: 30px auto;
  width: 100%;
}

.topImage {
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu li a {
  display: inline-block;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
}

.menu li a.active {
  background: #333;
  color: #fff;
}

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.content.active {
  background: #333;
  color: #fff;
  min-height: 150px;
  padding: 12px;
  display: block;
}

.content {
  display: none;
}

section > div {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.profileimage {
  border-radius: 30%;
  margin-top: 30px;
}

.career {
  text-align: center;
}

.brief {
  text-align: left;
  display: inline-block;
  line-height: 2em;
  width: 100%;
}

h3 {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.link {
  margin-right: 10px;
}

.link a {
  text-decoration: none;
}

.careerdetail:hover {
  opacity: 0.7;
  cursor: pointer;
}
 
.menta:hover {
  opacity: 0.7;
  cursor: pointer;
}

.work:hover {
  opacity: 0.7;
  cursor: pointer;
}

.blog:hover {
  opacity: 0.7;
  cursor: pointer;
}

button {
  border-radius: 15px;
  background-color: white;
  color: #333;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.sns {
  text-align: center;
}

.snslinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.snslink {
  margin-right: 20px;
  font-size: 1.5em;
}

.salon {
  border-radius: 15px;
  background-color: yellowgreen ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.submitbtn {
  border-radius: 15px;
  background-color: blue ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.topImage {
  text-align: left;
}

.imgIcon {
  width: 10%;
  height: 10%;
}

/* footer */

footer {
  background: gray;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* small screen */
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  img {
    width: 50%;
    height: 50%;
  }

  .container1 {
    display: block;
    margin: 0 auto;
  }
}

/* medium screen */
@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  
}

/* large screen */
@media screen and (min-width: 960px) {
  img {
    max-width: 960px;
  }
}