<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Page</title>
</head>
<body>  
  <h1>Job Matching App</h1>
  
  <h2>Users List</h2>
  <table>
    <tr>
      <% for (var i = 0; i < users.length; i++) { %>
        <td><%= users[i].id %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
      <% } %>
      <td><a href="/users/edit">Edit User</a></td>
    </tr>
  </table>
</body>